@import "tailwindcss";

@theme {
    --font-sans: "Inter", "sans-serif";

    --text-sm: 0.6rem;
    --text-xs: 0.76rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.56rem;
    --text-2xl: 1.95rem;
    --text-3xl: 2.44rem;
    --text-4xl: 3.05rem;
    --text-5xl: 3.81rem;
    --text-6xl: 4.77rem;
    --text-7xl: 5.96rem;
}

@layer base {
    body {
        @apply scroll-smooth bg-white;
    }
    #rtm-group {
        @apply flex min-h-dvh flex-col uppercase;
    }
}
